@import "tailwindcss";

@theme {
  --color-primary: #0F2A43;
  --color-secondary: #0F766E;
  --color-accent: #84CC16;
  --color-background: #F5F7FA;
  --color-card: #FFFFFF;
  --color-textdark: #172033;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
}